body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  background: skyblue;
  color: white;
}

a {
  color: #00B7FF;
}

h1{
  margin: 20px 0 20px 0;

}

input{
  width: 50em;
  height: 30px;
  margin-bottom: 40px;
  margin-top: 20px;
  text-align: center;
}